*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo
{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border
{
   border: 1.5px solid transparent; 
}
.border:hover
{
    border: 1.5px solid white ;
    
}
/* box 2 styling */
.add-deliver {
    color: #757171;
    font: size 0.85rem;
    
    margin-left:15px ;  /* Adjusted font size for better fit */
   
}

.india {
    color: #ffffff;
    font-size: 16px;
    margin-left: 5px; /* Adjusted font size for emphasis */
}

.add-icon {
    display: flex;
   
}

/*seach design*/
.nav-search{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(167, 179, 2);
    width: 620px;
    height: 40px;
    border-radius: 3px;
    margin-left: 8px;
}
.search-select{
    border-radius: 3px;
    background-color: #E6E6E6;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width: 47px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#ffb554;
    border-radius: 3px;

}

